.alert {
  border-radius: 4px;

  h2 {
    font-weight: 600;
    color: @brand-primary;
    font-size: 20px;
  }

  ul {
    list-style: disc;

    >li {
      font-weight: normal;
      font-size: 14px;
      margin-bottom: 5px;

      >a {
        color: @brand-primary  !important;
      }
    }
  }

  .fa {
    top: 3px;
  }

  // add display flex to specific instances
  #validapplication & {
    display: flex;
  }
}

.recommendations-data {
  legend {
    display: block !important;
    margin-left: 15px;
  }

  label {
    margin-left: 15px;
  }
}

.alert-message {
  padding-left: 0;
  padding-right: 0;

  >span {
    font-weight: normal;
  }
}

.validation-accordion .active span {
  font-size: 20px;
}

.ag-cell-wrapper .ag-cell-value span {
  font-size: 20px;
}

.alert-success {
  margin: 0 5px;
}

.alert-danger {
  color: #a94442 !important;
}

.notifications {
  margin-top: 0px !important;
}

.landing-alert {
  padding: 16px;
  display: flex;
  align-items: baseline;
  border-radius: 16px;

  a {
    font-weight: 500;
  }

  .alert-heading {

    p {
      color: white;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      border-radius: 16px;
      padding: 8px 16px 4px;
      margin-right: 16px;
      line-height: 27px;
      text-transform: uppercase;

    }
  }

  .alert-content {
    .field-label {
      color: @brand-blue;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }

    p:not(.field-label) {
      color: @gray-base;
    }
  }

  &.alert-info {
    .alert-heading {
      p {
        background-color: @brand-blue;
      }
    }

    .alert-content {
      .field-label {
        color: @brand-blue;
      }
    }
  }

  &.alert-warning {
    .alert-heading {
      p {
        background-color: @state-warning-text;
      }
    }

    .alert-content {
      .field-label {
        color: @state-warning-text;
      }
    }
  }

  &.alert-danger {
    .alert-heading {
      p {
        background-color: @state-danger-text;
      }
    }

    .alert-content {
      .field-label {
        color: @state-danger-text;
      }
    }
  }

}